* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.calculadora {
    background-image: linear-gradient(180deg, #ff5a0b 0, #f8400d 25%, #ed0c0c 50%, #e1000e 75%, #d80013 100%);;
    color: white;
    width: 350px;
    margin: 20px;
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

form p {
    text-align:center;
    margin-bottom: 20px;
    font-size: 30px;
}

input[type="text"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    font-family: monospace;
    border-radius: .5rem;
    text-align: center;
    font-weight: 600;
}

.btn {
    background-image: linear-gradient(180deg, #fb39e3 0, #e529e1 25%, #cb0fdc 50%, #b000d7 75%, #9400d4 100%);
    color: rgb(255, 255, 255);
    border: 0;
    margin-top: 5px;
    margin-left: 55px;
    width: 40%;
    padding: 1.5rem .5rem;
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.button {
    background-image: linear-gradient(180deg, #141f1e 0, #0d1413 25%, #000000 50%, #000000 75%, #000000 100%);
    color: white;
    border: 0;
    margin-top: 5px;
    width: 100%;
    padding: 1.5rem .5rem;
    display: center;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer; 
}